StrictHostKeyChecking no

Host boe-slave
   User root

Host boe-cms
   User root

Host thewhohar
   User root

Host vanpgvmlnx*
   User root

Host cheetah
   User root

Host slnx*
   User root

Host plnx*
   User root

Host sandbox
   User cstar

Host prodcms
   User boe
   RemoteForward 1971 perforceserver1:1971

Host prod*
   User root

Host stg*
   User root

Host staging-constellation
   User root

Host logs
   User flui


Host cstarservices
   User root

Host roxygen
   User root

Host approxy1
   User root
   Port 8888

Host lbroxy1
   User root
   Port 8889

Host 172.31.254.*
  ProxyCommand ssh root@10.101.202.90 nc %h %p
  Ciphers arcfour
  ClearAllForwardings yes

Host github.com
  ProxyCommand /usr/bin/corkscrew bluecoat-proxy 8080 %h %p
  PreferredAuthentications publickey
  Hostname ssh.github.com
  Port 443

Host vanl00479590a
  User george

# DC2 jumphost
Host 10.2.30.70
  User I819885

# DC4 jumphost
Host 10.4.196.175
  User I819885

# DC8 jumphost
Host 10.8.196.50
  User I819885

# DC10 jumphost
Host 10.10.198.30
  User I819885

# DC2 devops host
Host 10.2.70.20
  User devops
  #ProxyCommand ssh 10.2.30.70 netcat %h %p
  ProxyCommand ssh 10.4.196.175 netcat %h %p

# DC4 devops host
Host 10.4.70.21
  User devops
  ProxyCommand ssh 10.4.196.175 netcat %h %p

# DC8 devops host
Host 10.8.70.20
  User devops
  ProxyCommand ssh 10.8.196.50 netcat %h %p

# DC10 devops host
Host 10.10.70.20
  User devops
  ProxyCommand ssh 10.10.198.30 netcat %h %p

# DC12 devops host
Host 10.118.70.55
  User devops
  ProxyCommand ssh 10.4.70.21 netcat %h %p

Host 10.100.* 10.10.* 10.4.* 10.5.* 10.8.* 10.2.* 10.12.*
  User cubetree

#Host ci.cubetree.com
  #User root
  #IdentityFile Documents/ec2-stage.pem

Host 10.0.0.*
  User cubetree
  ProxyCommand ssh cubetree@54.236.134.49 nc %h %p


