StrictHostKeyChecking no

Host boe-slave
   User root

Host boe-cms
   User root

Host thewhohar
   User root

Host vanpgvmlnx*
   User root

Host cheetah
   User root

Host slnx*
   User root

Host plnx*
   User root

Host sandbox
   User cstar

Host prodcms
   User boe
   RemoteForward 1971 perforceserver1:1971

Host prod*
   User root

Host stg*
   User root

Host staging-constellation
   User root

Host logs
   User flui


Host cstarservices
   User root

Host roxygen
   User root

Host approxy1
   User root
   Port 8888

Host lbroxy1
   User root
   Port 8889

Host 172.31.254.*
  ProxyCommand ssh root@10.101.202.90 nc %h %p
  Ciphers arcfour
  ClearAllForwardings yes

Host github.com
  ProxyCommand /usr/bin/corkscrew bluecoat-proxy 8080 %h %p
  PreferredAuthentications publickey
  Hostname ssh.github.com
  Port 443
